.container {
  margin-top: 50px;
  align-content: center;
  max-width: 900px;
}

textarea {
  height: 130px;
}

hr {
  align-self: center;
  max-width: 850px;
  height:5px;
  border-width:0;
  background-color:#c5c4c4;
  margin-top: 10px;
  margin-bottom: 40px;
  margin-left: 12px;
}