<div class="container mt-5">
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th class="border-0 bg-light" scope="col">
            <div class="py-2">Order</div>
          </th>
          <th class="border-0 bg-light" scope="col">
            <div class="py-2">Date</div>
          </th>
          <th class="border-0 bg-light" scope="col">
            <div class="py-2 mr-3">Total</div>
          </th>
          <th class="border-0 bg-light" scope="col">
            <div class="py-2 mr-3">Status</div>
          </th>
        </tr>
      </thead>

      <tbody>
        <tr routerLink="/orders/{{order.id}}" *ngFor="let order of orders" style="cursor: pointer;">
          <th scope="row">
            <div class="p-2">
              <strong># {{order.id}}</strong>
            </div>
          </th> 

          <td class="align-middle">
            {{order.orderDate}}
          </td>

          <td class="align-middle">
            {{order.total | currency}}
          </td>

          <td class="align-middle">
            {{order.status}}
          </td>
        </tr>
      </tbody>
    </table>
  </div> 
</div>